1. Create a python program to sort the given list of tuples based on integer value using a lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [41]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

l.sort(key = lambda x : x[1], reverse = False)
l

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.

      [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map(lambda x : x**2 , l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions

    Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [5]:
string = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tuple(map(lambda x: str(x) ,string))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

5. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [42]:
product = list(range(1,25))

from functools import reduce

reduce(lambda x,y : x*y , product)

620448401733239439360000

5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.

    [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [7]:
# divisble by 2

l2 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list(filter(lambda x : x % 2 == 0 , l2))

[2, 6, 60, 90, 120, 46]

In [8]:
# divisble by 3

l2 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list(filter(lambda x : x % 3 == 0 , l2))

[3, 6, 9, 27, 60, 90, 120]

6. Write a python program to find palindromes in the given list of strings using lambda and filter function.

    ['python', 'php', 'aba', 'radar', 'level']

In [9]:
l3 = ['python', 'php', 'aba', 'radar', 'level']

list(filter(lambda x : x[0] == x[-1] , l3))

['php', 'aba', 'radar', 'level']